<div id="contactNew">

    <h2>New Contact</h2>

    <form>

        <div class="formField">
            <label for="contact.firstname">First Name</label>
            <input id="contact.firstname" ng-model="contact.firstname"/>
        </div>

        <div class="formField">
            <label for="contact.lastname">Last Name</label>
            <input id="contact.lastname" ng-model="contact.lastname"/>
        </div>
        
        <div class="formField">
            <label for="contact.telephone">Telephone</label>
            <input id="contact.telephone" ng-model="contact.telephone"/>
        </div>
        
        <div class="formField">
            <label for="contact.email">Email</label>
            <input id="contact.email" ng-model="contact.email"/>
        </div>

        <hr/>

        <button class="button" ng-click="gotoContactListPage()">&lt; Back</button> &nbsp;
        <button class="button" ng-click="submit()">Save</button>

    </form>

</div>